* {
  box-sizing: border-box;
}

html,
body {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

html {
  line-height: 1;
  -webkit-text-size-adjust: none;
}

html.safari {
  touch-action: manipulation;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: none;
  overflow-y: auto;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

figure {
  margin: 0;
}

button {
  border: 0;
  outline: 0;
  cursor: pointer;
}

svg {
  fill: currentColor;
}

fieldset {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

input[type='range'] {
  -webkit-appearance: slider-horizontal;
  color: rgb(144, 144, 144);
  cursor: default;
  padding: initial;
  border: initial;
  margin: 2px;
}