$box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$border-radius: 5px;
$transition: all 200ms ease-in;
$min-height: 41rem;

$mobile: 320px;
$tablet: 768px;
$tablet-landscape: 992px;
$laptop: 1200px;
$desktop: 1366px;
$wide: 1920px;