.hover-scale {
  transition: $transition;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
    transition: $transition;
  }    
}

.mb {

  &__wrapper {
    min-height: $min-height;
    display: flex;
    flex-direction: column;

    @include min-screen($tablet-landscape){
      flex-direction: row;
    }
  }

  &__main {
    box-shadow: $box-shadow;
    margin: 1.5rem;
    border-radius: $border-radius;

    header {
      border-top-right-radius: $border-radius;
      border-top-left-radius: $border-radius;
    }
  }

  &__sidebar {
    flex: 1 1 30%;
    color: $gray-400;
    background-color: $gray-800;
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;    

    header {
      text-align: center;
      i {
        background-color: transparent;
      }

      svg {
        width: 35%;
        height: 6rem;
      }

      @include min-screen($tablet){
        svg {
          width: 20%;
        }
      }

      @include min-screen($tablet-landscape){
        // text-align: left;

        svg {
          width: 35%;
          height: 6rem;
        }        
      }
    }

    nav {
      font-weight: 200;
    }

    &-title {
      text-align: center;
      padding: 1rem;
      padding-bottom: 0;
      text-decoration: underline;

      strong {
        margin-right: 0.4rem;
      }
    }

    &-item{
      border-top: 1px solid;
      padding: 1rem;
      justify-content: space-between;
      display: flex;

      &:last-child{
        border-bottom: 1px solid;
      }

      &:first-child {
        border-top: 0;
      }      

      @include min-screen($tablet-landscape){
        justify-content: space-around;
      }
      
      &__title {
        @extend .hover-scale;
        width: 100%;
        cursor: pointer;
        display: flex;
        flex-direction: column;

        &:hover {
          transform: scale(1.03);
        }

        @include min-screen($tablet-landscape){
          flex-direction: column;      
        }
      }
      
      &__trash{
        align-self: center;

        @include min-screen($tablet-landscape){
          align-self: flex-start;
        }        
      }

      &--unread{
        font-weight: 600;
        color: $gray-200;
      }
    }

    .badge {
      background-color: $indigo;
      color: $gray-400;
    }

    i {
      @extend .hover-scale;
      padding: 0.8rem;
      border-radius: $border-radius;
      background-color: $indigo;
      color: $gray-400;
    }   
  }

  &__email{
    flex: 1 1 70%;

    &-proto {
      padding: 1rem;
    }

    header {
      background: $gray-200;
      padding: 1rem;
    }

    &-msg {
      padding: 1rem;
    }

    li {
      &:first-child {
        align-items: center;
        display: flex;
        justify-content: space-between;
      }

      i {
        @extend .hover-scale;
        padding: 0.8rem;
        transition: $transition;
      }
    }
  }
}